<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Salary
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let pat of patients">
                                        <td>{{pat.id}}</td>
                                        <td>{{pat.name}}</td>
                                        <td>{{pat.address}}</td>
                                        <td>{{pat .mobile}}</td>
                                        <td>{{pat.age}}</td>
                                        
                                        <td>
                                          <button class="btn btn-success offset-2" type="button" > view</button>
                                        </td>                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
  </div>
  