<!-- <div class="container offset-3" >

    <div class="card col-9">
    <form  [formGroup]="myform" >
         <span class="text-center text-danger"  *ngIf="!myform.valid && touched">window.alert("Fill the form correctly")</span>
        <div   class="form-group">
            <label for="name">UserName</label>
            <div class="col-5">
      
            <input type="text" class="form-control" id="userName" formControlName="userName" name="name" required>
            <span class="text-danger" *ngIf=" myform.controls['userName'].touched && myform?.hasError('required','userName')">Username required</span>
            <span class="text-danger" *ngIf="myform?.hasError('minlength','userName')">
              Name must be at least 4 characters long.</span>
    
            </div>
          </div>
    
        <div class="row">
            <div class="col-5">
                Email:
              <input type="text" class="form-control" placeholder="example@gmail.com" formControlName="officialEmail" name="officialEmail">
              <span class="text-danger" *ngIf=" myform.controls['officialEmail'].touched && myform?.hasError('required','officialEmail')">Email  required</span>
              <span class="text-danger" *ngIf="myform?.hasError('minlength','officialEmail')">
                Email must be at least 8 characters long.</span>
                <span class="text-danger" *ngIf="myform?.hasError('maxlength','officialEmail')">
                  Email must be at least 8 characters long.</span>
          </div>
            <div class="col-3">
                Mobile number
                <input type="text" class="form-control" formControlName="phoneNumber" name="phoneNumber">
                <span class="text-danger" *ngIf="myform.controls['phoneNumber'].hasError('required') && myform.controls['phoneNumber'].touched">
                  Mobile number is required
                </span>
                <span class="text-danger" *ngIf="myform.controls['phoneNumber'].hasError('minlength') || myform.controls['phoneNumber'].hasError('maxlength')">
                  Mobile number must be exactly 10 digits
                </span>
                <span class="text-danger" *ngIf="myform.controls['phoneNumber'].hasError('pattern')">
                  Mobile number must be start with 9 
                </span>
                
                
            </div>
        </div>
        <div   class="form-group">
            <label for="name">Aadhar Number</label>
            <div class="col-5">
      
            <input type="text" class="form-control" id="aadharNumber" formControlName="aadharNumber" name="aadharNumber" required>
            <span class="text-danger" *ngIf=" myform.controls['aadharNumber'].touched && myform?.hasError('required','aadharNumber')">Enter Aadharnumber</span>
            <span class="text-danger" *ngIf="myform.controls['aadharNumber'].hasError('minlength') || myform.controls['aadharNumber'].hasError('maxlength')">
              aadharNumber  must be 12 characters long 
            </span>
    
            </div>
          </div>
          <br>
          <div   class="form-group">
            <label for="name">Designation </label>
            <div class="col-5">
      
            <input type="Text" class="form-control" id="designation" formControlName="designation" name="designation" required>
            <span class="text-danger" *ngIf=" myform.controls['designation'].touched && myform?.hasError('required','designation')">Enter designation</span>
    
            </div>
          </div>
    
        <div class="row">
            <div class="form-group">
                <label for="role">Company:</label>
                <select type="number" formControlName="companyId" id="companyName">
                    <option disabled>Select your company</option>
                       
                  <option *ngFor="let option of companyOptions" [value]="option.id">{{ option.companyName }}</option>
                </select>
                <span class="text-danger" *ngIf=" myform.controls['companyId'].touched && myform?.hasError('required','companyId')">Please select your company</span>
    
              </div>
          
            <div class="form-group col">
                 Employee Id
                 <div class="col col-3">
              <input type="text" class="form-control" formControlName="employeeId"  name="employeeId" required>
              <span class="text-danger" *ngIf=" myform.controls['employeeId'].touched && myform?.hasError('required','employeeId')">Enter your EmployeeId</span>
              <span class="text-danger" *ngIf=" myform.controls['employeeId'].hasError('maxlength')">
                employeeId not greater than 10 characters
              </span>
            </div>
            </div>
        </div>
        <br>
    
      
      
          <div class="form-group">
            <div class="row">
              <label for="name">Role:</label>
              <div class="col-5">
                <div class="form-check">
                  <input class="form-check-input" type="radio" formControlName="role" name="role" id="motorist" value="Motorist">
                  <label class="form-check-label" for="motorist">
                    Motorist
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" formControlName="role" name="role" id="rider" value="Rider">
                  <label class="form-check-label" for="rider">
                    Rider
                  </label>
                </div>
              </div>
              <span class="text-danger" *ngIf=" myform.controls['role'].touched && myform?.hasError('required','role')">Enter your EmployeeId</span>
    
            </div>
            
          </div>
          
          
    <br>
    <div   class="form-group">
        <label for="name">LicenseNo </label>
        <div class="col-5">
    
        <input type="text" class="form-control" id="licenseNo" formControlName="licenseNo" name="licenseNo" required>
        <span class="text-danger" *ngIf=" myform.controls['licenseNo'].touched && myform?.hasError('required','licenseNo')">Enter your LicenseNo</span>
        <span class="text-danger" *ngIf="myform.controls['licenseNo'].hasError('licenseNo') ||myform.controls['licenseNo'].hasError('pattern')|| myform.controls['phoneNumber'].hasError('maxlength')">
        Enter your licenseNo correctly
        </span>
    
        </div>
      </div>
    
      <div   class="form-group">
        <label for="name">expirationDate </label>
        <div class="col-5">
    
        <input type="date" class="form-control" id="expirationDate" formControlName="expirationDate" name="expirationDate" required>
        <span class="text-danger" *ngIf=" myform.controls['expirationDate'].touched && myform?.hasError('required','expirationDate') || myform.controls['expirationDate'].touched && myform.controls['expirationDate'].errors!==null "> Enter Valid Expiration Date</span>
    
        </div>
      </div>
      <div   class="form-group">
        <label for="name">RTA </label>
        <div class="col-5">
    
        <input type="Text" class="form-control" id="rTA" formControlName="rTA" name="rTA" required>
        <span class="text-danger" *ngIf=" myform.controls['rTA'].touched && myform?.hasError('required','rTA')">Enter your RTA</span>
    
        </div>
      </div>  <div   class="form-group">
        <label for="name">AllowedVehicles </label>
        <div class="col-5">
    
        <input type="Text" class="form-control" id="rTA" formControlName="allowedVehicles" name="allowedVehicles" required>
        <span class="text-danger" *ngIf=" myform.controls['allowedVehicles'].touched && myform?.hasError('required','allowedVehicles')">Enter your vehicles allowed</span>
    
        </div>
      </div>
        
    
        
    
      
        <div class="form-check d-flex justify-content-center mb-4">
          <input class="form-check-input me-2" type="checkbox" formControlName="checkbox" value="" id="form6Example8" required />
          <label class="form-check-label" for="form6Example8"> Create an new application? </label>
        </div>
      
        <button type="submit" class="btn btn-primary btn-block mb-4" (click)="">Submit</button>
      </form>
    </div>
    </div> -->